<app-spinner></app-spinner>

<div class="dashboard-card-wrapper">

  <div class="dashboard-label">

    <h2>Registrations</h2>



    <div class="d-flex">

      <span [style]="{'width':'170px'}"><p-multiSelect name="projects" #projects="ngModel" [options]="projectddl"
          name="projects" [(ngModel)]="selectedProjectLists" defaultLabel="Select a project" optionLabel="project_name"
          [maxSelectedLabels]="1" (onChange)="projectSelect($event)"></p-multiSelect></span>


      <!-- <p-multiSelect [options]="" [(ngModel)]="selectedProjectLists" optionLabel="project_name"></p-multiSelect> -->


      &nbsp;&nbsp;&nbsp;

      <select class="form-select me-2" [(ngModel)]="selectedList" #selectList
        (change)="setValue(selectList.value,'reg')">
        <option value="last7days">Last 7days</option>
        <option value="curmon">Current month</option>
        <option value="curyear">Current year</option>
        <option value="last5years">Last 5years</option>
        <option value="cusdate">Custom date</option>
      </select>
      <!-- <button class="btn btn-blue" type="button">
      Download
    </button> -->
      <span style="margin-right: 10px;">
        <p-calendar *ngIf="isRegDate" title="Date Filter" [(ngModel)]="rangeReg" placeholder="Date range"
          selectionMode="range" [readonlyInput]="true" inputId="range" [maxDate]="maxDateValue" #regCalendar
          (onSelect)="onSelect($event.target,'reg')">
          <!-- <p-footer>
            <button class="p-2" pButton type="button" label="Close" (click)="regCalendar.hideOverlay()">
            </button>
          </p-footer> -->
        </p-calendar>
      </span>

      <button *ngIf="isWithProjectChart == 'projectData'" class="download-btn" data-tooltip="Registration Download" type="button" (click)="downloadPDF('reg')">
        <i class="las la-file-download"></i>
      </button>

      <button *ngIf="isWithOutProjectChart == 'withOutProjectData'" class="download-btn" data-tooltip="Registration Download" type="button" (click)="downloadPDF('reg')">
        <i class="las la-file-download"></i>
      </button>

    </div>

  </div>


  <div class="canvas-inner-wrapper">
    <!-- <div class="left-text">
          <h4>Number of Registrations</h4>
      </div> -->
    <div class="canvas-wrapper mx-auto w-100">
      <div class="canvas-inner">
        <div *ngIf="isWithProjectChart == 'projectData'">
          <highcharts-chart id="barChart" class="mychart" [Highcharts]="Highcharts" [options]="regReportChart"
            style="width: 100%; height: 500; display: block;">
          </highcharts-chart>
        </div>

        <div *ngIf="isWithOutProjectChart == 'withOutProjectData'">
          <highcharts-chart id="barChart" class="mychart" [Highcharts]="Highcharts" [options]="regWithOutReportChart"
            style="width: 100%; height: 500; display: block;">
          </highcharts-chart>
        </div>
        <!-- <canvas class="mychart" id="barChart" width="1000" height="500"></canvas> -->
      </div>
      <!-- <div class="bottom-text">
              <h4>Registrations</h4>
          </div> -->
    </div>

  </div>
  <!-- <canvas class="mychart" id="myChart" width="1000" height="500"></canvas> -->

</div>
