
<app-spinner></app-spinner>
<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>

<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-md-5">
      <div class="login-left">
        <div class="align-self-center">
          <h3>
            "The only thing limiting your aspiration is your imagination."
          </h3>
          <p>- Stephen Richards</p>
          <div class="ll-img">
            <img src="assets/img/login-bg.jpg" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="login-right min-vh-100">
        <img src="assets/img/logo.png" class="logo" />

        <div class="password-section">
          <h1 class="login-title">Create New Password</h1>
          <form
            #passwordresetform="ngForm"
            name="form"
            (ngSubmit)="
              (passwordresetform.form.valid &&
                confirmpassword.value == newpassword.value)
            "
          >
            <div class="formgroup">
              <div class="input-group">
                <input
                  [type]="show_button ? 'text' : 'password'"
                  class="form-control"
                  required
                  #newpassword="ngModel"
                  id="npassword"
                  placeholder="New Password"
                  [(ngModel)]="passresetModel.newpassword"
                  minlength="8"
                  maxlength="16"
                  name="password"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$!%&'()*+,-/<=>?@[\]^_{|}])[A-Za-z\d#$!%&'()*+,-/<=>?@[\]^_{|}]{8,16}$"
                />
                <i
                  [class]="
                    show_eye
                      ? 'las la-eye btn-login'
                      : 'las la-eye-slash btn-login'
                  "
                  (click)="showPassword()"
                  id="eye"
                ></i>
              </div>

              <div style="height: 30px; display: block; margin-top: 2pt">
                <div
                  *ngIf="
                    (passwordresetform.submitted && newpassword.untouched) ||
                    newpassword.touched
                  "
                  style="font-size: 10.5pt; margin-top: 2pt; color: red"
                >
                  <div *ngIf="newpassword.errors?.['required']">
                    Password is required
                  </div>
                </div>
                <div
                  *ngIf="newpassword.touched && newpassword.invalid"
                  style="font-size: 10.5pt; margin-top: 2pt; color: red"
                >
                  <div *ngIf="newpassword.errors?.['pattern']">
                    Enter valid password
                  </div>
                </div>
              </div>
            </div>
            <div class="formgroup">
              <div class="input-group">
                <input
                  [type]="show_confirmbutton ? 'text' : 'password'"
                  class="form-control"
                  required
                  #confirmpassword="ngModel"
                  id="conpassword"
                  placeholder="Confirm New Password"
                  [(ngModel)]="passresetModel.confirmpassword"
                  minlength="8"
                  maxlength="16"
                  name="confirmpassword"
                  [class.is-valid]="
                    confirmpassword == newpassword && confirmpassword.touched
                  "
                />
                <i
                  [class]="
                    show_confirmeye
                      ? 'las la-eye btn-login'
                      : 'las la-eye-slash btn-login'
                  "
                  (click)="showConfirmPassword()"
                  id="eye"
                ></i>
              </div>
              <div style="height: 30px; display: block; margin-top: 2pt">
                <div
                  *ngIf="
                    (passwordresetform.submitted &&
                      confirmpassword.untouched) ||
                    confirmpassword.touched
                  "
                  style="font-size: 10.5pt; margin-top: 2pt; color: red"
                >
                  <div *ngIf="confirmpassword.errors?.['required']">
                    Confirm Password is required
                  </div>
                </div>
                <div
                  class="help-block"
                  *ngIf="
                    confirmpassword.dirty &&
                    confirmpassword.value !== newpassword.value
                  "
                  style="font-size: 10.5pt; margin-top: 2pt; color: red"
                >
                  <div>Both the Password are not same</div>
                </div>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-white"
              id="forgotSubmit"
              [disabled]="disable"
              (click)="
                passwordresetsubmit(
                  passwordresetform.form.valid &&
                    confirmpassword.value == newpassword.value
                )
              "
            >
              Submit
            </button>
          </form>
          <!-- <button type="button" class="btn btn-white" id="passwordSubmit">Submit</button> -->

          <!-- <div style="text-align: center; height:1.5em; font-size: 18px; font-weight:bold; color:purple; margin-top: 1em;">
		<div [class.d-none]="successmsg">{{successmsgpassreset}}</div>
		<div [class.d-none]="failuremsg">{{failuremsgpassreset}}</div>
	</div>	 -->
          <!-- <div class="mt-5">
            <nav>
              <a
                class="btn link-white f-18"
                role="button"
                id="backLogin"
                routerLink="/login"
                [class.d-none]="successmsg"
                >Back to Login</a
              >
            </nav>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
