.batch-bg {
  background: #fff !important;
}


.p-button {
  color: #9f9f9f !important;
  background: #ffffff !important;
  border: 1px solid #cccccc !important;
}

.searched {
  color: #ffffff !important;
  background: #278ce8 !important;
  border: 1px solid #278ce8 !important;
}
