<app-header></app-header>
<app-spinner></app-spinner>
<div class="main">
  <p-toast [breakpoints]="{'920px': { height: '200px', width: '100%', right: '0', left: '0' }}"></p-toast>
  <app-sidebar (listOfRightMenus)="onListOfRightMenus($event)"></app-sidebar>
  <div class="d-none mobile-sidebar-backdrop"></div>

  <div class="content page-content">
    <div class="card">
      <div class="card-header">
        <h5>DOCUMENT VERIFICATION</h5>
      </div>

      <p-tabView [(activeIndex)]="activeIndex" [scrollable]="true" (onChange)="getDocumentTab($event)">
        <ng-container *ngFor="let tab of dynamicTabs;let tabIndex = index">
          <p-tabPanel [header]="tab.title">
            <div class="row">
              <div class="col-md-4 d-flex align-items-center">
                <div class="show-entries d-flex mb-3">
                  <small><span class="result-found"><b>{{ dt.totalRecords }}</b> Results
                      Found</span></small>
                </div>
              </div>
              <div class="col-md-8 d-block d-sm-inline-flex justify-content-end">
                <div class="search-input w-xs-100 me-2 mb-3">
                  <p-multiSelect [options]="currentTabProjectCols" [(ngModel)]="_selectedProjectColumns"
                    optionLabel="header" (onChange)="onChangeMultiSelect($event)"
                    selectedItemsLabel="{0} columns selected" [style]="{minWidth: '180px'}"
                    placeholder="Choose Columns"></p-multiSelect>
                </div>
                <div class="search-input w-xs-100 me-2 mb-3">
                  <input type="text" class="form-control" placeholder="Search"
                    (input)="dt.filterGlobal($any($event.target).value, 'contains')">
                </div>
                <div class="dropdown float-end more-dropdown d-flex align-items-center mb-3">
                  <button class="more-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Export<i class="las la-angle-down ms-2"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                      <button type="button" title="CSV" pButton pRipple icon="pi pi-file"
                        (click)="exportCurrentTabCSV()" class="p-button-info ml-auto" pTooltip="CSV"
                        tooltipPosition="bottom"></button>
                    </li>
                    <li>
                      <button type="button" title="XLSX" pButton pRipple icon="pi pi-file-excel"
                        (click)="exportCurrentTabExcel()" class="p-button-success mr-2" pTooltip="XLS"
                        tooltipPosition="bottom"></button>
                    </li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="col-12 scroll-table scrolling-table-div">
              <p-table #dt class="p-table-grid" [columns]="selectedProjectColumns" [paginator]="true"
                [value]="currentTabProjectDetails" [rowsPerPageOptions]="[5,10,25,50,100,500]" [rows]="10"
                sortMode="multiple" [globalFilterFields]="currentTabGlobalFilter" [(selection)]="selectedTabProjectDetails" [responsive]="true">
                <!-- [globalFilterFields]="atosGlobalFilter" -->
                <!-- [exportFilename]="exportAtos"  -->

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th>
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field" *ngIf="col.field != 'action'"></p-sortIcon>
                    </th>
                    <th>Action</th>

                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-documentDetail let-columns="columns">
                  <tr>
                    <td>
                      <p-tableCheckbox [value]="documentDetail"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns">
                      <span *ngIf="!currentTabActiveAdditionalFields.includes(col.field) && col.field !== 'action'">
                        {{ documentDetail[col.field] }}
                      </span>

                      <div *ngFor="let uploadLabels of currentTabActiveAdditionalFields">
                        <span *ngIf="(col.field == uploadLabels && !currentTabWithOutFieldName.includes(uploadLabels))">
                          {{ (dbStatus.includes(documentDetail[col.field]) && (documentDetail[col.field] != null))?
                          "Uploaded" : "Not uploaded" }}
                        </span>
                      </div>

                    </td>
                    <td>
                      <!-- (click)="viewAtosdocument(documentDetail, 'atos syntel')" -->
                      <span *ngIf="documentDetail['action'] == 'true'">
                        <a href="javascript:void(0);" class="mr-5" (click)="viewDocumentDetails(documentDetail)"><i class="las la-eye"></i></a>
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </p-tabPanel>
        </ng-container>
      </p-tabView>


    </div>
  </div>
</div>


<div class="modal fade" id="view" tabindex="-1" aria-labelledby="view" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 700px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ currentTabProjectName }} Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-12 scroll-table scrolling-table-div">
          <p-table #atosdt class="table table-bordered table-sm" [(selection)]="selectedview" [value]="currentTabViewDetails"
            [paginator]="true" [rowsPerPageOptions]="[5, 10, 50, 100]" [rows]="10" sortMode="multiple"
            [responsive]="true">
            <ng-template pTemplate="header">
              <tr>
                <th>
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>S.No</th>
                <th>Document Name</th>
                <th>Validation status</th>
                <th>Uploaded file(Reupload)</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowdata="rowData" let-i="rowIndex" let-documentviewDetail>
              <tr>
                <td>
                  <p-tableCheckbox [value]="documentviewDetail"></p-tableCheckbox>
                </td>
                <td>{{i+1}}</td>
                <td>
                  {{ documentviewDetail.document_field_name }}
                </td>
                <td *ngIf="documentviewDetail.verification_Status == 'Yet to verify'">
                  <div class="col-md-12">
                    <div class="form-check form-check-inline">
                      <input class="file-upload-radio form-check-input" type="radio"
                        (change)="onChangeFilesNo($event, 'Yes', i,  documentviewDetail.document_detail_id, documentviewDetail.document_field_name, documentviewDetail.document_value)"
                        id="statusAtosRadio_{{ i }}" name="status_atos_{{ i }}" [checked]="false">
                      <label class="form-check-label" for="statusAtosRadio_{{ i }}">Valid</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="file-upload-radio form-check-input" type="radio"
                        (change)="onChangeFilesNo($event, 'No', i, documentviewDetail.document_detail_id, documentviewDetail.document_field_name, documentviewDetail.document_value)"
                        id="statusAtosRadio_{{ i }}" name="status_atos_{{ i }}" [checked]="false">
                      <label class="form-check-label" for="statusAtosRadio_{{ i }}">Not
                        Valid</label>
                    </div>
                  </div>
                </td>

                <td *ngIf="documentviewDetail.verification_Status == 'Yes'">
                  <div class="col-md-12">
                    <div class="form-check form-check-inline">
                      <input class="file-upload-radio form-check-input" type="radio"
                        (change)="onChangeFilesNo($event, 'Yes', i,  documentviewDetail.document_detail_id, documentviewDetail.document_field_name, documentviewDetail.document_value)"
                        id="statusAtosRadio_{{ i }}" name="status_atos_{{ i }}"
                        [checked]="documentviewDetail.verification_Status == 'Yes'">
                      <label class="form-check-label" for="statusAtosRadio_{{ i }}">Valid</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="file-upload-radio form-check-input" type="radio"
                        (change)="onChangeFilesNo($event, 'No', i, documentviewDetail.document_detail_id, documentviewDetail.document_field_name, documentviewDetail.document_value)"
                        id="statusAtosRadio_{{ i }}" name="status_atos_{{ i }}">
                      <label class="form-check-label" for="statusAtosRadio_{{ i }}">Not
                        Valid</label>
                    </div>
                  </div>
                </td>
                <td *ngIf="documentviewDetail.verification_Status == 'No'">
                  <div class="col-md-12">
                    <div class="form-check form-check-inline">
                      <input class="file-upload-radio form-check-input" type="radio" id="statusAtosRadio_{{ i }}"
                        name="status_{{ i }}"
                        (change)="onChangeFilesNo($event, 'Yes', i, documentviewDetail.document_detail_id, documentviewDetail.document_field_name, documentviewDetail.document_value)"
                        value="Yes">
                      <label class="form-check-label" for="statusAtosRadio_{{ i }}">Valid</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="file-upload-radio form-check-input" type="radio" id="statusAtosRadio_{{ i }}"
                        (change)="onChangeFilesNo($event, 'No', i, documentviewDetail.document_detail_id, documentviewDetail.document_field_name, documentviewDetail.document_value)"
                        value="documentviewDetail.verification_Status" name="status_atos_{{ i }}"
                        [checked]="documentviewDetail.verification_Status == 'No'">
                      <label class="form-check-label" for="statusAtosRadio_{{ i }}">Not
                        Valid</label>
                    </div>
                  </div>
                </td>

                <td *ngIf="documentviewDetail.verification_Status == 'Yet to verify'">
                  {{documentviewDetail.document_value}}
                </td>
                <td *ngIf="documentviewDetail.verification_Status == 'Yes'" target="_blank">
                  {{documentviewDetail.document_value}}
                </td>
                <td *ngIf="documentviewDetail.verification_Status == 'No'">
                  <input class="form-control" type="file" id="{{ documentviewDetail.document_detail_id }}"
                    name="{{ documentviewDetail.document_field_name }}"
                    (change)="selectFiles($event, documentviewDetail.verification_Status, documentviewDetail.document_value)">
                </td>
                <td>
                  <div class="d-flex" *ngIf="documentviewDetail.verification_Status != 'No'">
                    <a href="javascript:void(0);" href="{{ documentviewDetail.document_url }}" target="_blank"
                      *ngIf="showLogout(documentviewDetail.document_type)" class="mr-5"><i class="las la-eye"></i></a>
                    <a href="javascript:void(0);" href="{{ documentviewDetail.download_path }}" target="_blank"
                      class="mr-5"><i class="las la-file-download"></i></a>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="modal-footer ps-0 pe-0">
          <button type="button" class="btn btn-red" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-blue" (click)="downloadProjectView()" [disabled]="selectedview.length == 0">Bulk Download</button>
          <button type="button" class="btn btn-blue" (click)="onProjectFileUpload()" [disabled]="validSelect == false">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
