.project-name-list {
  width: 125px;
  height: 33px;
}


.add-field-card .form-control {
  padding: 5px;
  background-color: rgb(248 248 248);
  border: 0;
  border-bottom: 2px solid rgb(209 209 209);
  border-radius: 2px;
}

.add-field-card .form-control:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid rgb(111, 111, 111);
}

.add-field-card .input-group-text {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.p-paginator-bottom {
  display: none !important;
}

.invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 13px !important;
  color: #dc3545;
}
.modal-scroll {
  height: 70vh;
  overflow-y: auto;
}

p-dropdown.ng-dirty.ng-invalid > .p-dropdown {
  border-color: none !important;
}


.p-button {
color: #9f9f9f !important;
background: #ffffff !important;
border: 1px solid #cccccc !important;
}

.searched {
color: #ffffff !important;
background: #278ce8 !important;
border: 1px solid #278ce8 !important;
}

.form-check-input:checked {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}






